body {
    font-family: 'Open Sans', sans-serif;
}

.row {
    margin: 0 auto;
}

img {
    height: 20vw;
    object-fit: contain;
}

.card {
    transition: .4s;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}